* {
    margin: 0;
    padding: 0;
} 

.nav-font {
    font-family: 'Lobster', cursive;
    font-size: 25pt;
    
}

#suscribete {
    background-color: #DC3545;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}


